.cont{
  background-color: rgb(186, 228, 186);
  width: 100%;
}
.info{
  display: flex;
  flex-direction: column;
  padding: 20px 150px;
  max-width: 100%;
  position: relative;

}
.btn{
  margin-top: 30px;
  width: 180px;
  font-size: 20px;
  font-style: italic;
  justify-content: center;
  margin-left: 380px;
  background-color: rgb(66, 226, 26);
  border-radius: 5px;
}
.info input{
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}
