.home{
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 228, 186);
}
.container{
  display: flex;
  flex-direction: row;
  height: 50%;
}
.words{
  margin: 100px 50px;
}
.words h1{
  font-weight: 800;
  font-size: 50px;
}
.image img{
  border-radius: 6px;
}

.dis{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
.contain{
  height: 200px;
}
